Repository rwth-i6/returnn, changes with the owners that CODEOWNERS names for each.
All owners: @rwth-i6/returnn, @albertz, @NeoLegends, @patrick-wilken, @JackTemaki

CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners
# https://github.blog/2017-07-06-introducing-code-owners/
# https://chromium.googlesource.com/chromium/src/+/master/docs/code_reviews.md#OWNERS-files

# Use absolute names when necessary or more helpful to identify.
# Otherwise the basename is fine. Or other patterns.

* @rwth-i6/returnn @albertz @NeoLegends
/returnn/tf @albertz
/returnn/theano @albertz

better_exchook.py @albertz

cached.py @patrick-wilken @JackTemaki
hdf.py @patrick-wilken @JackTemaki

# Could be extended a lot more, but not sure if needed.
# The global owners are also almost always the owners of more specific things.
# Only add new entries when these differ from the global owners.

SimpleHDFWriter: add extra_labels (#1653)
  returnn/datasets/hdf.py
Owners: @patrick-wilken, @JackTemaki

simplify seg tag validation
  returnn/datasets/postprocessing.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

revert none check back to original
  returnn/datasets/postprocessing.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

fix typing
  returnn/datasets/postprocessing.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

PostprocessingDataset, provide epoch (and seq_idx in map_seq)
  returnn/datasets/postprocessing.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

`PPDataset`: implement `BucketOrdering`
  returnn/datasets/postprocessing.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

make base class non-public
  returnn/datasets/postprocessing.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

`PPDataset`: be strict about `seq_order` and `seq_list` in `init_seq_order` (#1652)
  returnn/datasets/postprocessing.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

PT: print amount of padding per step and subepoch
  returnn/torch/engine.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

log as percent also in step log
  returnn/torch/engine.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

notify user about config key for setting threshold
  returnn/torch/engine.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

print padding warning only for full (sub)epochs
  returnn/torch/engine.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

track separate padding ratios via numbersdict
  returnn/torch/engine.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

better
  returnn/torch/engine.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

add default
  returnn/torch/engine.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

cleaner var names, use prod
  returnn/torch/engine.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

remove printing of padding stats on every step
  returnn/torch/engine.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

change var name
  returnn/torch/engine.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

black
  returnn/torch/engine.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

formatting
  returnn/torch/engine.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

PT: print padding amount per batch and subepoch (#1656)
  returnn/torch/engine.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

Bump github action versions to their most recent
  .github/workflows/black.yml
  .github/workflows/main.yml
  .github/workflows/publish.yml
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

Bump github action versions to their most recent (#1657)
  .github/workflows/black.yml
  .github/workflows/main.yml
  .github/workflows/publish.yml
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

Allow inserting 0-length elements into HDF extra
  returnn/datasets/hdf.py
  tests/test_HDFDataset.py
Owners: @patrick-wilken, @JackTemaki, @rwth-i6/returnn, @albertz, @NeoLegends

Allow skipping sequences in forward config option
  returnn/__main__.py
  returnn/torch/engine.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

Reduce line length
  returnn/torch/engine.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

Allow skipping sequences in forward config option (#1659)
  returnn/__main__.py
  returnn/torch/engine.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

Allow inserting 0-length elements into HDF extra (#1658)
  returnn/datasets/hdf.py
  tests/test_HDFDataset.py
Owners: @patrick-wilken, @JackTemaki, @rwth-i6/returnn, @albertz, @NeoLegends

PT debug inf/nan
  returnn/torch/engine.py
  returnn/torch/util/debug_inf_nan.py
  tests/test_torch_util.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

update better_exchook
  returnn/util/better_exchook.py
Owners: @albertz

LmDataset, support get_all_tags, check given seq_list
  returnn/datasets/lm.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

PT: allow custom batching impls, add bucket batching
  returnn/torch/data/pipeline.py
  returnn/torch/engine.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

MetaDataset, cleanup unused _is_same_seq_name_for_each_dataset
  returnn/datasets/meta.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

at end only forward non-empty batches
  returnn/torch/data/pipeline.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

accept kwargs
  returnn/torch/data/pipeline.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

add missing docstring
  returnn/torch/data/pipeline.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

pass train flag to custom batchers as well
  returnn/torch/data/pipeline.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

lints
  returnn/torch/data/pipeline.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

lints nr 2
  returnn/torch/data/pipeline.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

prevent overflow
  returnn/torch/engine.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends
