Repository rwth-i6/returnn, changes with the owners that CODEOWNERS names for each.
All owners: @rwth-i6/returnn, @albertz, @NeoLegends, @patrick-wilken, @JackTemaki

fix seq_tag/complete_frac reassignment
  returnn/datasets/postprocessing.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

Dataset: allow LR scheduling based on `get_complete_frac` (#1673)
  returnn/datasets/basic.py
  returnn/datasets/cached2.py
  returnn/datasets/distrib_files.py
  returnn/datasets/meta.py
  returnn/datasets/multi_proc.py
  returnn/datasets/numpy_dump.py
  returnn/datasets/postprocessing.py
  returnn/datasets/raw_wav.py
  returnn/datasets/sprint.py
  returnn/datasets/stereo.py
  returnn/torch/data/pipeline.py
  returnn/torch/data/returnn_dataset_wrapper.py
  returnn/torch/engine.py
  tests/test_Dataset.py
  tests/test_torch_engine.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

test_avgpool1d_stride_padding_same
  tests/test_rf_conv.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

PT: add randomization to bucket batching
  returnn/torch/data/pipeline.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

RF PT conv padding comment small extension
  returnn/torch/frontend/_backend.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

RF PT conv padding extend comment
  returnn/torch/frontend/_backend.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

properly handle random seed
  returnn/torch/data/pipeline.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

test_avgpool1d_stride_padding_same small fix
  tests/test_rf_conv.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

Update returnn/torch/data/pipeline.py
  returnn/torch/data/pipeline.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

use abs
  returnn/torch/data/pipeline.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

no abs, add term
  returnn/torch/data/pipeline.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

PT: clear shuffler buffers in reset()
  returnn/torch/data/pipeline.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

PT: add randomization to bucket batching (#1697)
  returnn/torch/data/pipeline.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

PT: also use complete_frac for progress reporting
  returnn/torch/engine.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

record elapsed time
  returnn/torch/engine.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

TF ConvLayer/PoolLayer, support int padding
  returnn/tf/frontend_layers/_backend.py
  returnn/tf/layers/basic.py
  returnn/tf/util/basic.py
Owners: @albertz

RF conv, fix same padding with striding (WIP)
  docs/configuration_reference/behavior_version.rst
  returnn/frontend/_backend.py
  returnn/frontend/conv.py
  returnn/torch/frontend/_backend.py
  returnn/util/basic.py
  tests/test_rf_conv.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

fix accidental tuple
  returnn/torch/engine.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

simplify epoch_continuous calculation, progress printing and other logic
  returnn/torch/engine.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

remove unused field
  returnn/torch/engine.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

remove unused import
  returnn/torch/engine.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

TF TODO easier debugging
  returnn/tensor/_tensor_extra.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

TF PoolLayer masking small fix
  returnn/tf/layers/basic.py
Owners: @albertz

RF test error report better
  tests/rf_utils.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

Dim complete_dyn_size, fix for dim 0
  returnn/tensor/_dim_extra.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

TF PoolLayer/ConvLayer small doc fix
  returnn/tf/layers/basic.py
Owners: @albertz

RF PT conv padding extend comment
  returnn/torch/frontend/_backend.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

test_conv1d_stride_same_padding, use test_single_batch_entry
  tests/test_rf_conv.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

test RF conv extended
  tests/test_rf_conv.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

test_avgpool1d_stride_padding_same
  tests/test_rf_conv.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

RF conv, fix same padding with striding
  docs/configuration_reference/behavior_version.rst
  returnn/frontend/_backend.py
  returnn/frontend/conv.py
  returnn/torch/frontend/_backend.py
  returnn/util/basic.py
  tests/test_rf_conv.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

TF ConvLayer/PoolLayer, support int padding
  returnn/tf/frontend_layers/_backend.py
  returnn/tf/layers/basic.py
  returnn/tf/util/basic.py
  returnn/torch/frontend/_backend.py
Owners: @albertz, @rwth-i6/returnn, @NeoLegends

RF test conv, more test_single_batch_entry
  tests/test_rf_conv.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

RF conv more doc
  returnn/frontend/conv.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

RF conv, fix same padding with striding (#1696)
  docs/configuration_reference/behavior_version.rst
  returnn/frontend/_backend.py
  returnn/frontend/conv.py
  returnn/tf/frontend_layers/_backend.py
  returnn/tf/layers/basic.py
  returnn/tf/util/basic.py
  returnn/torch/frontend/_backend.py
  returnn/util/basic.py
  tests/test_rf_conv.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

PT: also use `complete_frac` for progress reporting (#1698)
  returnn/torch/engine.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

take torch num_workers into account for sharding
  returnn/datasets/basic.py
  tests/test_torch_dataset.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

set sharding config in torch data pipe
  returnn/datasets/basic.py
  returnn/torch/data/returnn_dataset_wrapper.py
  tests/test_torch_dataset.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

MultiProcDataset: support sharding on `"sharding_method": "dedicated"`
  returnn/datasets/multi_proc.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

RF LSTM, set feature_dim
  returnn/frontend/rec.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners
# https://github.blog/2017-07-06-introducing-code-owners/
# https://chromium.googlesource.com/chromium/src/+/master/docs/code_reviews.md#OWNERS-files

# Use absolute names when necessary or more helpful to identify.
# Otherwise the basename is fine. Or other patterns.

* @rwth-i6/returnn @albertz @NeoLegends
/returnn/tf @albertz
/returnn/theano @albertz

better_exchook.py @albertz

cached.py @patrick-wilken @JackTemaki
hdf.py @patrick-wilken @JackTemaki

# Could be extended a lot more, but not sure if needed.
# The global owners are also almost always the owners of more specific things.
# Only add new entries when these differ from the global owners.
