Repository rwth-i6/returnn, changes with the owners that CODEOWNERS names for each.
All owners: @rwth-i6/returnn, @albertz, @NeoLegends, @patrick-wilken, @JackTemaki

small fix warning
  returnn/frontend/conversions/hf_llama.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

fix check for shuffled batches
  returnn/torch/engine.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

RF generic internal cache
  returnn/frontend/_cache.py
  returnn/frontend/attention.py
  returnn/util/lru_cache.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

fix warnings, missing docs
  returnn/frontend/_cache.py
  returnn/util/lru_cache.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

small fix warning
  returnn/util/lru_cache.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

small fix warning, cleanup
  returnn/util/lru_cache.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

PostprocessingDataset, copy labels from subdataset
  returnn/datasets/postprocessing.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

create_vocab_from_labels, extra check for Utf8ByteTargets
  returnn/datasets/util/vocabulary.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

Dataset can_serialize_data better check
  returnn/datasets/basic.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

PostprocessingDataset, fix automatic vocab creation
  returnn/datasets/postprocessing.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

cleanup for Python 3
  tests/test_GeneratingDataset.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

test_StaticDataset_utf8 small fix
  tests/test_GeneratingDataset.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

WIP
  returnn/datasets/basic.py
  returnn/datasets/distrib_files.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

FileCache: log file name on mtime update failure
  returnn/util/file_cache.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

black
  returnn/datasets/basic.py
  returnn/datasets/distrib_files.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

Vocabulary, support gzipped vocab
  returnn/datasets/util/vocabulary.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

Tensor, vocab implies sparse
  returnn/tensor/_tensor_extra.py
  returnn/tensor/tensor.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

TextDictDataset, fallback to eval
  returnn/datasets/text_dict.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

TextDictDataset
  returnn/datasets/basic.py
  returnn/datasets/text_dict.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

TF TimeChunkingLayer, small fix for new dyn dim
  returnn/tf/layers/basic.py
  tests/test_TFNetworkLayer.py
Owners: @albertz, @rwth-i6/returnn, @NeoLegends

typing fix/cleanup
  tests/test_TFNetworkLayer.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

test_TimeChunkingLayer_TimeUnchunkingLayer
  tests/test_TFNetworkLayer.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

small fix warning
  returnn/datasets/text_dict.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

RF fix pad_packed/masked_scatter for dims subset of mask.dims
  returnn/frontend/array_.py
  returnn/torch/frontend/_backend.py
  tests/test_rf_array.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

Add option to passthrough num_seqs in PostprocessingDataset
  returnn/datasets/postprocessing.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

Vocabulary special_symbols_via_file option
  returnn/datasets/util/vocabulary.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

Implement suggested changes
  returnn/datasets/postprocessing.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

Add "preserves_num_seqs" attribute
  returnn/datasets/postprocessing.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

Don't fail when the wrapped dataset doesn't know its num_seqs
  returnn/datasets/postprocessing.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

Implement requested changes
  returnn/datasets/postprocessing.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

Protocol always available with Py>=3.8, cleanup
  returnn/frontend/parametrize.py
  returnn/frontend/types.py
  returnn/tf/network.py
  returnn/util/py_compat.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

Black
  returnn/datasets/postprocessing.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

break up lines
  returnn/datasets/postprocessing.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

Add {self} to assert
  returnn/datasets/postprocessing.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

Always test against self._num_seqs
  returnn/datasets/postprocessing.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

small fix
  returnn/datasets/postprocessing.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

PostprocessingDataset: map_seq_stream_preserves_num_seqs option (#1677)
  returnn/datasets/postprocessing.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

RF ctc_loss, support broadcast
  returnn/torch/frontend/_backend.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

RF PT slice, fix dyn size
  returnn/torch/frontend/_backend.py
  tests/test_rf_array.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

better_exchook update
  returnn/util/better_exchook.py
Owners: @albertz

CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners
# https://github.blog/2017-07-06-introducing-code-owners/
# https://chromium.googlesource.com/chromium/src/+/master/docs/code_reviews.md#OWNERS-files

# Use absolute names when necessary or more helpful to identify.
# Otherwise the basename is fine. Or other patterns.

* @rwth-i6/returnn @albertz @NeoLegends
/returnn/tf @albertz
/returnn/theano @albertz

better_exchook.py @albertz

cached.py @patrick-wilken @JackTemaki
hdf.py @patrick-wilken @JackTemaki

# Could be extended a lot more, but not sure if needed.
# The global owners are also almost always the owners of more specific things.
# Only add new entries when these differ from the global owners.
