Repository rwth-i6/returnn, changes with the owners that CODEOWNERS names for each.
All owners: @rwth-i6/returnn, @albertz, @NeoLegends, @patrick-wilken, @JackTemaki

fix some Tensor not None checks
  returnn/frontend/_numpy_backend.py
  returnn/frontend/conv.py
  returnn/frontend/dims.py
  returnn/tensor/_dim_extra.py
  returnn/tensor/_tensor_extra.py
  returnn/tensor/dim.py
  returnn/tensor/tensor_dict.py
  returnn/tensor/utils.py
  returnn/tf/frontend_layers/_backend.py
  returnn/tf/frontend_layers/layer.py
  returnn/tf/frontend_layers/loop.py
  returnn/tf/frontend_layers/make_layer.py
  returnn/tf/frontend_low_level/_backend.py
  returnn/tf/layers/base.py
  returnn/tf/layers/basic.py
  returnn/tf/layers/rec.py
  returnn/torch/engine.py
  returnn/torch/frontend/_backend.py
  returnn/torch/util/exception_helper.py
  tests/rf_utils.py
  tests/test_TFUtil.py
  tests/test_rf_rec.py
  tools/torch_export_to_onnx.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

fix some Tensor not None checks
  returnn/frontend/_cache.py
  returnn/frontend/_random_journal.py
  returnn/frontend/conv.py
  returnn/frontend/dims.py
  returnn/frontend/rec.py
  returnn/frontend/run_ctx.py
  returnn/tensor/_dim_extra.py
  returnn/tensor/_tensor_extra.py
  returnn/tensor/dim.py
  returnn/tensor/tensor_dict.py
  returnn/tf/frontend_layers/_backend.py
  returnn/tf/frontend_layers/dims.py
  returnn/tf/frontend_layers/layer.py
  returnn/tf/frontend_layers/loop.py
  returnn/tf/frontend_layers/make_layer.py
  returnn/tf/frontend_layers/prev_tensor_ref.py
  returnn/tf/frontend_low_level/_backend.py
  returnn/tf/layers/base.py
  returnn/tf/layers/basic.py
  returnn/tf/layers/rec.py
  returnn/tf/network.py
  returnn/torch/data/extern_data.py
  tests/rf_utils.py
  tests/test_TFUtil.py
  tools/compile_tf_graph.py
  tools/torch_export_to_onnx.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

Tensor, disallow __bool__ with new behavior version 22
  docs/configuration_reference/behavior_version.rst
  returnn/frontend/_native/__init__.py
  returnn/tensor/_tensor_op_overloads.py
  returnn/util/basic.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

Tensor, disallow __bool__ with new behavior version 22
  docs/configuration_reference/behavior_version.rst
  returnn/frontend/_native/__init__.py
  returnn/tensor/_tensor_op_overloads.py
  returnn/util/basic.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

fix some Tensor not None checks
  returnn/frontend/_cache.py
  returnn/frontend/_random_journal.py
  returnn/frontend/conv.py
  returnn/frontend/dims.py
  returnn/frontend/rec.py
  returnn/frontend/run_ctx.py
  returnn/tensor/_dim_extra.py
  returnn/tensor/_tensor_extra.py
  returnn/tensor/dim.py
  returnn/tensor/tensor_dict.py
  returnn/tf/frontend_layers/_backend.py
  returnn/tf/frontend_layers/dims.py
  returnn/tf/frontend_layers/layer.py
  returnn/tf/frontend_layers/loop.py
  returnn/tf/frontend_layers/make_layer.py
  returnn/tf/frontend_layers/prev_tensor_ref.py
  returnn/tf/frontend_low_level/_backend.py
  returnn/tf/layers/base.py
  returnn/tf/layers/basic.py
  returnn/tf/layers/rec.py
  returnn/tf/network.py
  returnn/torch/data/extern_data.py
  tests/rf_utils.py
  tests/test_TFUtil.py
  tools/compile_tf_graph.py
  tools/torch_export_to_onnx.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

Tensor __bool__ small fix
  returnn/tensor/_tensor_op_overloads.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

some typing fixes
  returnn/config.py
  returnn/util/basic.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

Tensor __bool__ small fix
  returnn/tensor/_tensor_op_overloads.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

some typing fixes
  returnn/tf/util/basic.py
Owners: @albertz

some typing fixes
  returnn/config.py
  returnn/util/basic.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

cleanup for Python 3
  demos/demo-iter-dataset.py
  returnn/__main__.py
  returnn/datasets/audio.py
  returnn/datasets/hdf.py
  returnn/datasets/sprint.py
  returnn/log.py
  returnn/sprint/control.py
  returnn/sprint/interface.py
  returnn/tf/layers/basic.py
  returnn/util/basic.py
  tests/_setup_test_env.py
  tests/test_HDFDataset.py
  tests/test_Log.py
  tests/test_TFNetworkLayer.py
  tests/test_TFUtil.py
  tests/test_TranslationDataset.py
  tests/test_Util.py
  tools/analyze-dataset-batches.py
  tools/calculate-word-error-rate.py
  tools/collect-orth-symbols.py
  tools/collect-words.py
  tools/compile_native_op.py
  tools/compile_tf_graph.py
  tools/debug-dump-search-scores.py
  tools/dump-dataset-raw-strings.py
  tools/dump-dataset.py
  tools/hdf_dump.py
  tools/torch_export_to_onnx.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends, @patrick-wilken, @JackTemaki

sub proc init logging
  returnn/config.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

RF replace_dim_v2
  returnn/frontend/dims.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

RF PT masked_scatter, fix when backup dims are not in order
  returnn/torch/frontend/_backend.py
  tests/test_rf_array.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

RF PT masked_scatter fix for older PyTorch
  returnn/torch/frontend/_backend.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

RF some nested utility functions
  returnn/frontend/__init__.py
  returnn/frontend/nested.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

Fix assert in LaplaceOrdering
  returnn/datasets/postprocessing.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

Implement requested change
  returnn/datasets/postprocessing.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

LaplaceOrdering, fix when num_seqs multiple of bin size (#1681)
  returnn/datasets/postprocessing.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

RF PT reduce_argmax/argmin, handle masking
  returnn/torch/frontend/_backend.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

torch scale tuning script
  tools/torch_scale_tuning.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

torch scale tuning, small fix for min/max scales args
  tools/torch_scale_tuning.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

RF sinusoidal_positional_encoding, small fix for out shape check
  returnn/frontend/attention.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

fix build, publish wheels
  .github/workflows/publish.yml
  pyproject.toml
  setup.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

Update setup.py
  setup.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

fix build, publish wheels (#1684)
  .github/workflows/publish.yml
  pyproject.toml
  setup.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

h5py import optional
  returnn/datasets/hdf.py
  returnn/datasets/normalization_data.py
  returnn/datasets/raw_wav.py
  returnn/datasets/stereo.py
  returnn/util/basic.py
  returnn/util/debug_helpers.py
Owners: @patrick-wilken, @JackTemaki, @rwth-i6/returnn, @albertz, @NeoLegends

need numpy also for building
  pyproject.toml
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

rename to complete_frac in dataset impl
  returnn/datasets/basic.py
  returnn/datasets/cached2.py
  returnn/datasets/distrib_files.py
  returnn/datasets/meta.py
  returnn/datasets/multi_proc.py
  returnn/datasets/postprocessing.py
  returnn/torch/data/pipeline.py
  returnn/torch/data/returnn_dataset_wrapper.py
  returnn/torch/engine.py
  tests/test_Dataset.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

fix comment wording
  returnn/datasets/basic.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

more renaming
  returnn/datasets/postprocessing.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

rename to get_exact_complete_frac to avoid duplicated method
  returnn/datasets/basic.py
  returnn/datasets/cached2.py
  returnn/datasets/distrib_files.py
  returnn/datasets/meta.py
  returnn/datasets/multi_proc.py
  returnn/datasets/postprocessing.py
  returnn/torch/data/returnn_dataset_wrapper.py
  tests/test_Dataset.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

fix
  returnn/datasets/meta.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

wording
  returnn/datasets/cached2.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

more wording
  returnn/datasets/multi_proc.py
  returnn/datasets/postprocessing.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

DFDataset: do not pickle sharding info, but rely on `_distrib_info` instead
  returnn/datasets/distrib_files.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

Vocabulary, workaround if we get sis Path
  returnn/datasets/util/vocabulary.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

add sharding test
  tests/test_Dataset.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

RF TransformerEncoder, input_embedding configurable
  returnn/frontend/encoder/transformer.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

typo + wording
  returnn/datasets/basic.py
Owners: @rwth-i6/returnn, @albertz, @NeoLegends

CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners
# https://github.blog/2017-07-06-introducing-code-owners/
# https://chromium.googlesource.com/chromium/src/+/master/docs/code_reviews.md#OWNERS-files

# Use absolute names when necessary or more helpful to identify.
# Otherwise the basename is fine. Or other patterns.

* @rwth-i6/returnn @albertz @NeoLegends
/returnn/tf @albertz
/returnn/theano @albertz

better_exchook.py @albertz

cached.py @patrick-wilken @JackTemaki
hdf.py @patrick-wilken @JackTemaki

# Could be extended a lot more, but not sure if needed.
# The global owners are also almost always the owners of more specific things.
# Only add new entries when these differ from the global owners.
